## place these contents at /etc/nginx//sites-available/n8n_grafana.conf
server {
    listen 80;
    server_name n8n.dashboard.com;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name n8n.dashboard.com;

    ssl_certificate /etc/letsencrypt/live/n8n.dashboard.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/n8n.dashboard.com/privkey.pem;

    # n8n main
    location / {
        proxy_pass http://localhost:5678;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Health check endpoint
    location /healthz {
        access_log off;
        return 200 "healthy\n";
        add_header Content-Type text/plain;

    }
    # Grafana
    location /grafana/ {
        proxy_pass http://localhost:3000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}

## enable with
# sudo ln -s /etc/nginx/sites-available/n8n_grafana.conf /etc/nginx/sites-enabled/
# sudo nginx -t
# sudo systemctl reload nginx
